@mixin btn-style {
  color: white;
  background-color: $turq;

  &:hover {
    transition-duration: 0.5s;
    background-color: $green;
  }
}

@mixin a-style {
  color: $turq;

  &:hover {
    text-decoration: none;
    color: $green;
  }

}